body{
    font-family: Arial;
    padding: 20px;
}

.form{
    margin-bottom: 15px;
}

input{
    padding: 5px;
    margin-right: 5px;
}

button{
    padding: 6px 10px;
    cursor: pointer;
}

table{
    border-collapse: collapse;
    width: 500px;
}

th, td{
    padding: 8px;
    text-align: center;
}

.low-score{
    background-color: yellow;
}
